<html>
<head>
<title>Page d'acceuil</title>
</head>

<body>
<h3 id="titre">bonjour tous le monde!</h3><br><br><br><br><br><br><br><br>
<h3 id="titre1">introduction!</h3>

<br><br><br><br><br><br><br><br>
Le premier div contient le titre de notre blogpost - c'est à la fois un titre et un lien
<br><br><br><br><br><br><br><br>
Le premier div contient le titre de notre blogpost - c'est à la fois un titre et un lien
<br><br><br><br><br><br><br><br>
Le premier div contient le titre de notre blogpost - c'est à la fois un titre et un lien
<br><br><br><br><br><br><br><br>
Le premier div contient le titre de notre blogpost - c'est à la fois un titre et un lien
<br><br><br><br><br><br><br><br>
Le premier div contient le titre de notre blogpost - c'est à la fois un titre et un lien
<br><br><br><br><br><br><br><br>
<a href="#titre1">clique ici</a>
</body>
</html>
